// +-------------------------------------------------------------------------+
// | Flat UI                                                                 |
// +-------------------------------------------------------------------------+

// Greens
$turquoise: #1ABC9C;
$green-sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;

// Blues
$peter-river: #3498DB;
$belize-hole: #2980B9;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;

// Purples
$amethyst: #9B59B6;
$wisteria: #8E44AD;

// Yellows
$sunflower: #F1C40F;

// Oranges
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;

// Reds
$alizarin: #E74C3C;
$pomegranate: #C0392B;

// Grays
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;
